<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>quote_id</key>
		<string>46474</string>
		<key>quote_text</key>
		<string>The universe could very well be a simulation</string>
		<key>term_names</key>
		<string>Cosmos</string>
		<key>drupal_interview_url</key>
		<string>http://www.closertotruth.com/interviews/1852</string>
		<key>contributor_name</key>
		<string>Michio Kaku</string>
		<key>contributor_id</key>
		<string>890</string>
	</dict>
    <dict>
        <key>quote_id</key>
        <string>46475</string>
        <key>quote_text</key>
        <string>We don't know everything</string>
        <key>term_names</key>
        <string>Meaning</string>
        <key>drupal_interview_url</key>
        <string>http://www.closertotruth.com/interviews/1852</string>
        <key>contributor_name</key>
        <string>Susan Blackmore</string>
        <key>contributor_id</key>
        <string>808</string>
    </dict>
</array>
</plist>
